body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#head{
    background: linear-gradient(to right, rgb(180, 176, 176) 10%, rgb(222, 39, 39) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header{
    background-color: rgb(213, 213, 248);
}
#head h1{
    margin-left: 10%;
}

#head h3{
    margin-left: 25%;
}

#menu{
    margin-left: 3%;
    color: rgb(161, 108, 10);
}

.menuCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 30px;  
}

.menuCards {
  width: 230px;
  min-height: 400px; 
  box-shadow: 5px 10px 10px -5px rgb(184, 175, 175);
  border-radius: 16px;
}
    
.img{
    width: 230px;
    height: 130px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
#footer{
    margin-left: 46.5%;
}
.content{
    margin-left: 4px;
}
.biryaniName{
    position:absolute;
    top: 168px;
    color: aliceblue;
}
.empty{
    position:absolute;
    width:15px;
    height: 14px;
    margin-left: -15px;
    background-color: rgb(168, 177, 248);
    top: 25px;
}